@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;700&family=Roboto:wght@400;500;700&display=swap");

// =========== MIXINS ================
@mixin roboto {
  font-family: "Roboto", sans-serif;
}
@mixin quicksand {
  font-family: "Roboto", sans-serif;
}

// =========== /MIXINS ================

// =========== VARIABLES ================
$base: 4px;

$fw-regular: 400;
$fw-medium: 500;
$fw-bold: 700;

$fs-sm: 12px;
$fs-md: 15px;

$padding-vertical-xs: 20px;
$padding-vertical-sm: 60px;
$padding-vertical: 120px;

$transition: 0.2s;

$color-primary: #697ca6;
$color-secondary: #6188ff;
$color-divider: #d8e3fe;
// =========== /VARIABLES ================

// =========== COMMON ================
body {
  @include roboto;
}

.section-outer {
  border-bottom: 1px solid $color-divider;
}
.section-inner {
  max-width: 900px;
  margin: 0 auto;
  padding-top: $padding-vertical;
  padding-bottom: $padding-vertical;

  &--wide {
    max-width: 1200px;
  }
}

.btn {
  border: none;
  background-color: none;
  padding: $base * 3 $base * 4;
  @include quicksand;
  font-size: $fs-sm;
  font-weight: $fw-bold;
  text-decoration: none;
  border-radius: 2px;
  transition: $transition;

  &--primary {
    background-color: #d2e1ff;
    color: #3a79ff;

    &:hover {
      background-color: darken(#d2e1ff, 5%);
    }
  }
}
// =========== /COMMON ================

// === HEADER ===
.section-header {
  .section-inner {
    padding-top: $padding-vertical-xs;
    padding-bottom: $padding-vertical-xs;
  }
}

.main-novigation {
  display: flex;
  align-items: center;
}

.logo {
  background-color: #5e81fe;
  width: $base * 6;
  height: $base * 6;
  border-radius: 100%;
}

.nav {
  margin-left: $base * 18;
}

.nav-wrapper {
  display: flex;
  &__item {
    & + & {
      margin-left: $base * 10;
    }

    &-link {
      @include quicksand;
      font-weight: $fw-medium;
      text-decoration: none;
      font-size: $fs-sm;
      color: $color-primary;
      transition: $transition;

      &:hover {
        color: $color-secondary;
      }

      &--active {
        font-weight: $fw-bold;
        color: $color-secondary;
      }
    }
  }
}

.socials {
  margin-left: auto;
}

.socials-wrapper {
  display: flex;
  align-items: center;

  &__item {
    & + & {
      margin-left: $base * 9;
    }

    &-link {
      path {
        fill: $color-primary;
        transition: $transition;
      }

      &:hover {
        path {
          fill: $color-secondary;
        }
      }
    }
  }
}

.btn-wrapper {
  margin-left: $base * 11;
}
// === / HEADER ===

// === HERO ===
.section-hero-image {
  background-color: #f4f7ff;
}
// === / HERO ===

// === CUSTOMERS ===
.section-customers {
  .section-inner {
    padding-top: $padding-vertical-sm;
    padding-bottom: $padding-vertical-sm;
  }
}
// === / CUSTOMERS ===

// === PLAN ===
.section-plan-and-manage {
  background-color: #f5f8ff;
}
// === / PLAN ===

// === FEATURES ===
.section-features {
}
// === / FEATURES ===

// === STATS ===
.section-stats {
  background-color: #e9efff;
  .section-inner {
    padding-top: $padding-vertical-sm;
    padding-bottom: $padding-vertical-sm;
  }
}
// === / STATS ===

// === BLOG ===
.section-blog {
  background-color: #f5f8ff;
}
// === / BLOG ===

// === QUOTES ===
.section-quotes {
  background-color: #eaf0ff;
}
// === / QUOTES ===

// === FAQ ===
.section-faq {
}
// === / FAQ ===

// === GET-STARTED ===
.section-get-started {
  background-color: #6888ff;
}
// === / GET-STARTED ===

// === NEWSLATTER ===
.section-newsletter {
  background-color: #fcfdff;
}
// === / NEWSLATTER ===

// === FOOTER ===
.section-footer {
  .section-inner {
    padding-top: $padding-vertical-sm;
    padding-bottom: $padding-vertical-sm;
  }
}
.copyrigth {
  @include quicksand;
  font-size: $fs-sm;
  font-weight: $fw-medium;
  color: #aeb8d0;
  margin-top: $base * 7;
  margin-left: $base * 24;
}
// === / FOOTER ===
