@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;700&family=Roboto:wght@400;500;700&display=swap");

// =========== MIXINS ================
@mixin roboto {
  font-family: "Roboto", sans-serif;
}
@mixin quicksand {
  font-family: "Quicksand", sans-serif;
}

// =========== /MIXINS ================

// =========== VARIABLES ================
$base: 4px;

$fw-light: 300;
$fw-regular: 400;
$fw-medium: 500;
$fw-bold: 700;

$fs-sm: 12px;
$fs-md: 15px;
$fs-lg: 18px;

$padding-vertical-xs: 20px;
$padding-vertical-sm: 60px;
$padding-vertical: 120px;

$transition: 0.2s;

$color-primary: #697ca6;
$color-secondary: #6188ff;
$color-divider: #d8e3fe;
// =========== /VARIABLES ================

// =========== COMMON ================
body {
  @include roboto;

  color: #8d96bd;
}

.section-outer {
  border-bottom: 1px solid $color-divider;
}
.section-inner {
  max-width: 900px;
  margin: 0 auto;
  padding-top: $padding-vertical;
  padding-bottom: $padding-vertical;

  &--wide {
    max-width: 1200px;
  }
}

.btn-group {
  display: flex;
  .btn:nth-child(1) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  .btn:nth-child(2) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

.input {
  padding: $base * 3 $base * 4;
  border: 1px solid transparent;
  background-color: #efeff7;
  color: #7a85ad;
  font-size: $fs-sm;

  &--size-lg {
    padding: $base * 5 $base * 6;
    border-radius: 5px;
  }
}

.btn {
  display: inline-block;
  box-sizing: border-box;
  border: 1px solid transparent;
  background: none;
  padding: $base * 3 $base * 4;
  @include quicksand;
  font-size: $fs-sm;
  font-weight: $fw-bold;
  text-decoration: none;
  border-radius: 2px;
  transition: $transition;
  white-space: nowrap;

  &--size-lg {
    padding: $base * 5 $base * 15;
    border-radius: 5px;
  }

  &--primary {
    background-color: #d2e1ff;
    color: #3a79ff;

    &:hover {
      background-color: darken(#d2e1ff, 5%);
    }
  }

  &--danger {
    background-color: #ffd7d7;
    color: #d43f3f;

    &:hover {
      background-color: darken(#ffd7d7, 5%);
    }
  }

  &--secondary {
    color: #fff;
    background-color: #4c85ff;

    &:hover {
      background-color: darken(#d2e1ff, 5%);
    }

    &-inverted {
      color: #565f82;
      background-color: #fff;

      &:hover {
        background-color: darken(#fff, 5%);
      }
    }
  }

  &--grayscale {
    color: #7382a3;
    background-color: #e8ecf4;

    &:hover {
      background-color: darken(#e8ecf4, 5%);
    }
  }

  &--no-bg {
    color: #adb4d2;
    border: 1px solid #d1d1e4;
    background-color: none;

    &:hover {
      color: darken(#adb4d2, 15%);
      border: 1px solid darken(#d1d1e4, 15%);
    }

    &-inverted {
      color: #c7d3ff;
      border-color: #a0b4ff;

      &:hover {
        color: lighten(#c7d3ff, 15%);
        border-color: darken(#a0b4ff, 5%);
      }
    }
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include quicksand;
  font-weight: $fw-regular;
  color: #3d4f9f;
}

h1,
h2 {
  font-size: 48px;
  margin-bottom: $base * 7;
}

h3 {
  margin-bottom: $base * 7;
  font-size: 36px;
}

h4 {
  @include quicksand;
  font-size: 24px;
  font-weight: $fw-medium;
  margin-bottom: $base * 23;
}

h5 {
  @include roboto;
  font-size: 10px;
  font-weight: $fw-medium;
  margin-bottom: $base * 4;
  text-transform: uppercase;
}

.ta-c {
  text-align: center;
}

.dots {
  display: flex;
  justify-content: center;

  &__item {
    width: $base * 2;
    height: $base * 2;
    border-radius: 100%;
    background-color: #d1d6e3;
    transition: $transition;
    cursor: pointer;

    &--active {
      background-color: #5283ff;
    }

    & + & {
      margin-left: $base * 3;
    }
  }
}
// =========== /COMMON ================

// === HEADER ===
.section-header {
  .section-inner {
    padding-top: $padding-vertical-xs;
    padding-bottom: $padding-vertical-xs;
  }
}

.main-novigation {
  display: flex;
  align-items: center;
}

.logo {
  background-color: #5e81fe;
  width: $base * 6;
  height: $base * 6;
  border-radius: 100%;
}

.nav {
  margin-left: $base * 18;
}

.nav-wrapper {
  display: flex;
  &__item {
    & + & {
      margin-left: $base * 10;
    }

    &-link {
      @include quicksand;
      font-weight: $fw-medium;
      text-decoration: none;
      font-size: $fs-sm;
      color: $color-primary;
      transition: $transition;

      &:hover {
        color: $color-secondary;
      }

      &--active {
        font-weight: $fw-bold;
        color: $color-secondary;
      }
    }
  }
}

.socials {
  margin-left: auto;
}

.socials-wrapper {
  display: flex;
  align-items: center;

  &__item {
    & + & {
      margin-left: $base * 9;
    }

    &-link {
      path {
        fill: $color-primary;
        transition: $transition;
      }

      &:hover {
        path {
          fill: $color-secondary;
        }
      }
    }
  }
}

.btn-wrapper {
  margin-left: $base * 11;
}
// === / HEADER ===

// === HERO ===
.section-hero-image {
  background-color: #f4f7ff;
  position: relative;

  .dots {
    position: absolute;
    bottom: $base * 7;
    left: 50%;
  }
}

.slider-hero-image {
  &__item {
    height: $base * 140;
    background-position: 50% 100%;
    background-size: cover;
    text-align: center;

    &-content {
      h2 {
        font-weight: $fw-light;
        span {
          font-weight: $fw-medium;
        }
      }

      .text {
        max-width: 55%;
        margin: 0 auto;
        margin-bottom: $base * 5;
        line-height: 2;
      }
    }
  }
}

.icon-play {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: $base * 13;
  height: $base * 13;
  border-radius: 100%;
  box-shadow: 0px 10px 50px rgba(201, 209, 231, 0.6);

  &::before {
    display: block;
    content: "";
    width: 0;
    height: 0;
    margin-left: $base * 2.5;
    border-color: transparent;
    border-style: solid;
    border-width: $base + 1 $base * 2.5;
    border-left-color: #5e81ff;
  }
}
// === / HERO ===

// === CUSTOMERS ===
.section-customers {
  .section-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: $padding-vertical-sm;
    padding-bottom: $padding-vertical-sm;

    a {
      transition: $transition;
      opacity: 0.4;

      &:hover {
        opacity: 1;
      }
    }
  }
}
// === / CUSTOMERS ===

// === PLAN ===
.section-plan-and-manage {
  background-color: #f5f8ff;
  position: relative;
  overflow: hidden;

  &__content {
    .aside-image {
      position: absolute;
      top: 0;
      left: 40%;
    }
    width: 45%;
    h3 {
      font-weight: $fw-light;
      span {
        font-weight: $fw-medium;
      }
    }
    .text {
      margin-bottom: $base * 12;
      line-height: 2;
    }

    .btn-group {
      svg {
        margin-left: $base;
      }
    }
  }
}
// === / PLAN ===

// === FEATURES ===
.section-features {
  background: url(../img/clouds-features.svg) no-repeat 50% 50%;
  h4 {
    font-weight: $fw-medium;
  }

  .btns {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.features-list {
  display: flex;
  margin: 0 auto;
  text-align: center;
  margin-bottom: $base * 23;

  &__item {
    position: relative;
    flex-basis: 25%;
    &:not(:first-child) {
      margin-left: $base * 10;
    }
    &:not(:first-child)::before {
      content: "";
      position: absolute;
      top: 120px;
      left: -34px;
      height: 1px;
      width: 28px;
      background-color: #dae4fe;
    }

    &-icon {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 auto $base * 8;
      width: $base * 17;
      height: $base * 17;
      border-radius: 100%;
      background-color: #f1f5ff;
    }
    &-title {
      font-weight: $fw-bold;
      font-size: $fs-md;
      color: #4074f8;
      margin-bottom: $base * 7;
    }
    &-text {
      line-height: 2;
      font-weight: $fw-light;
      font-size: $fs-sm;
      // text-align: center;
    }
  }
}

.or-block {
  display: inline-flex;
  align-items: center;
  margin: 0 $base * 4;
  font-weight: $fw-medium;
  font-size: $fs-sm;
  text-transform: uppercase;

  &::before,
  &::after {
    content: "";
    display: block;
    height: 1px;
    width: $base * 4;
    background-color: #dae4fe;
  }

  &::before {
    margin-right: $base * 4;
  }
  &::after {
    margin-left: $base * 4;
  }
}
// === / FEATURES ===

// === STATS ===
.section-stats {
  background-color: #e9efff;
  display: flex;
  @include quicksand;

  &__icon {
    margin-bottom: $base * 6;
  }

  &__number {
    font-size: 48px;
  }

  &__text {
    width: 51%;
    font-size: 18px;
    font-weight: $fw-medium;
    line-height: 1.5;
  }

  &__left,
  &__right {
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    padding: $base * 16 $base * 22;
  }

  &__left {
    align-items: flex-end;
    background: linear-gradient(229.32deg, #6888ff 12.77%, #5e80ff 73.11%);
    text-align: right;
    color: #fff;

    h2 {
      color: #fff;
    }
  }
  &__right {
    color: #5e80ff;

    h2 {
      color: #5e80ff;
    }
  }
}
// === / STATS ===

// === BLOG ===
.section-blog {
  background-color: #f5f8ff;
}

.slider-wrapper {
  margin-bottom: $base * 25;
  position: relative;
}

.slider-blog {
  background: #ffffff;
  border: 1px solid #d8e3fe;
  box-sizing: border-box;
  box-shadow: 0px 15px 50px #eff4ff;
  &__item {
    padding: $base * 16 $base * 8;
    display: flex;
    &-gallery,
    &-content {
      flex-basis: 45%;
    }

    &-gallery {
      display: grid;
      grid-template-rows: repeat(2, 120px);
      grid-template-columns: repeat(3, 120px);
      grid-gap: 12px;

      .image-link {
        overflow: hidden;
        display: block;
        border-radius: 5px;
        position: relative;
        box-shadow: 0px 15px 100px #e5ebf8;

        .image-find {
          display: block;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: $base * 16;
          height: $base * 16;
          border-radius: 100%;
          background: #fff url("../img/find_icon.svg") no-repeat 50% 50%;
          opacity: 0;
          transition: $transition;
        }

        &:hover {
          .image-find {
            opacity: 1;
          }
        }

        img {
          width: 100%;
          height: 100%;
        }

        &::before {
          content: "";
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
        }
        &--b {
          grid-row: 1/3;
          grid-column: 1/3;

          &::before {
            background: linear-gradient(
              13.46deg,
              rgba(255, 199, 53, 0.44) 1.89%,
              rgba(255, 227, 154, 0.93) 1.9%,
              rgba(255, 159, 90, 0) 68.24%
            );
          }
        }
        &--s-1 {
          grid-row: 1/2;
          grid-column: 3/4;

          &::before {
            background: linear-gradient(
              27.48deg,
              rgba(255, 53, 53, 0.48) 14.02%,
              rgba(255, 179, 90, 0) 68%
            );
          }
        }
        &--s-2 {
          grid-row: 2/3;
          grid-column: 3/4;

          &::before {
            background: linear-gradient(
              13.49deg,
              rgba(53, 170, 255, 0.68) 11.59%,
              rgba(90, 136, 255, 0) 96.88%
            );
          }
        }
      }
    }
    &-content {
      margin-left: 10%;

      .text {
        font-size: 14px;
        line-height: 2;
        margin-bottom: $base * 8;
      }
    }
  }
}

.btn-blog {
  position: absolute;
  top: 50%;
  display: block;
  width: $base * 10;
  height: $base * 10;
  background: url(../img/arrow-blog_icon.svg) no-repeat 50% 50%;

  &--prev {
    right: 100%;
    margin-right: $base * 16;
    transform: translateY(-50%);
  }

  &--next {
    left: 100%;
    margin-left: $base * 16;
    transform: translateY(-50%) rotate(180deg);
  }
}
// === / BLOG ===

// === QUOTES ===
.section-quotes {
  background: linear-gradient(180deg, #eaf0ff 0%, #f6f9ff 100%);

  .section-inner {
    display: flex;
    justify-content: space-between;

    h3 {
      font-weight: $fw-medium;
    }
  }

  &__left,
  &__right {
    flex-basis: 45%;
  }

  &__left {
    .text {
      line-height: 2;
      font-size: $fs-sm;
    }
  }
}

.slider-quotes {
  margin-bottom: $base * 20;

  &__item {
    padding: $base * 10 $base * 17 $base * 15;
    background: #ffffff;
    border: 1px solid #d8e3fe;
    box-sizing: border-box;
    box-shadow: 0px 5px 50px #f3f5fa;
    position: relative;

    &-text {
      font-size: $fs-sm;
      line-height: 2;
      color: #676f95;
    }

    &-photo {
      $height: $base * 15;

      position: absolute;
      top: 100%;
      left: 50%;
      width: $base * 15;
      height: $height;
      margin-top: -$height/2;
      border-radius: 100%;
      overflow: hidden;
      background-color: #fff;
      transform: translateX(-50%);
    }
  }
}
// === / QUOTES ===

// === FAQ ===
.section-faq {
  h4 {
    font-weight: $fw-medium;
  }
}

.faq-accordion {
  &__item {
    $parent: &;

    border-bottom: 1px solid #d8e3fe;

    &--active {
      .arrow {
        stroke: #495274;
        // stroke: #8E96B7;
      }

      #{$parent}-trigger {
        color: #495274;
        font-weight: $fw-bold;

        &-icon {
          transform: rotate(0);
        }
      }

      #{$parent}-content {
        display: flex;
      }
    }

    &-trigger {
      display: flex;
      cursor: pointer;
      padding: $base * 4;

      &-icon {
        width: $base * 4;
        text-align: center;
        margin-right: $base * 4;
        transform: rotate(180deg);

        .arrow {
          stroke: #8e96b7;
          // stroke: #495274;
        }
      }

      &-text {
        font-size: $fs-md;
      }
    }

    &-content {
      display: none;
      padding: 0 $base * 4 $base * 4 $base * 12;
      border-bottom: 1px solid #d8e3fe;

      &-text {
        flex-grow: 1;
        line-height: 2;
        font-size: $fs-sm;
      }

      &-btn {
        margin-left: $base * 15;
      }
    }
  }
}
// === / FAQ ===

// === GET-STARTED ===
.section-get-started {
  position: relative;
  background: linear-gradient(229.32deg, #6888ff 12.77%, #5e80ff 73.11%);

  text-align: center;
  color: #fff;

  &::before {
    content: "";
    position: absolute;
    z-index: 5;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url(../img/clouds-get-started.svg) no-repeat 50% 50%;
  }
  .section-inner {
    position: relative;
    z-index: 10;
  }
  h2,
  h5 {
    color: #fff;
  }

  h2 {
    font-weight: $fw-light;
    span {
      font-weight: $fw-medium;
    }
  }

  .text {
    max-width: 75%;
    margin: 0 auto;
    line-height: 2;
    margin-bottom: $base * 16;
  }

  .btn-group {
    justify-content: center;
  }
}
// === / GET-STARTED ===

// === NEWSLATTER ===
.section-newsletter {
  background-color: #fcfdff;

  .section-inner {
    display: flex;
    justify-content: space-between;
  }

  &__left {
    flex-basis: 35%;

    &-title {
      @include quicksand;
      font-size: $fs-lg;
      color: #3d4f9f;
      margin-bottom: $base * 4;
      font-weight: $fw-bold;
    }
    &-text {
      line-height: 2;
      font-size: $fs-md;
    }
  }

  &__right {
    flex-basis: 55%;
  }
}

.form-newsletter {
  display: flex;

  .input {
    flex-grow: 1;
  }

  .btn {
    margin-left: $base * 3;
  }
}
// === / NEWSLATTER ===

// === FOOTER ===
.section-footer {
  .section-inner {
    padding-top: $padding-vertical-sm;
    padding-bottom: $padding-vertical-sm;
  }
}
.copyrigth {
  @include quicksand;
  font-size: $fs-sm;
  font-weight: $fw-medium;
  color: #aeb8d0;
  margin-top: $base * 7;
  margin-left: $base * 24;
}
// === / FOOTER ===
