@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;700&family=Roboto:wght@400;500;700&display=swap");

// =========== MIXINS ================
@mixin roboto {
  font-family: "Roboto", sans-serif;
}
@mixin quicksand {
  font-family: "Roboto", sans-serif;
}

// =========== /MIXINS ================

// =========== VARIABLES ================
$fw-regular: 400;
$fw-medium: 500;
$fw-bold: 700;

$padding-vertical-xs: 20px;
$padding-vertical-sm: 60px;
$padding-vertical: 120px;

$color-divider: #d8e3fe;
// =========== /VARIABLES ================

// =========== COMMON ================
body {
  @include roboto;
}

.section-outer {
  border-bottom: 1px solid $color-divider;
}
.section-inner {
  max-width: 900px;
  margin: 0 auto;
  padding-top: $padding-vertical;
  padding-bottom: $padding-vertical;

  &--wide {
    max-width: 1200px;
  }
}
// =========== /COMMON ================

// === HEADER ===
.section-header {
  .section-inner {
    padding-top: $padding-vertical-xs;
    padding-bottom: $padding-vertical-xs;
  }
}
// === / HEADER ===

// === HERO ===
.section-hero-image {
  background-color: #f4f7ff;
}
// === / HERO ===

// === CUSTOMERS ===
.section-customers {
  .section-inner {
    padding-top: $padding-vertical-sm;
    padding-bottom: $padding-vertical-sm;
  }
}
// === / CUSTOMERS ===

// === PLAN ===
.section-plan-and-manage {
  background-color: #f5f8ff;
}
// === / PLAN ===

// === FEATURES ===
.section-features {
}
// === / FEATURES ===

// === STATS ===
.section-stats {
  background-color: #e9efff;
  .section-inner {
    padding-top: $padding-vertical-sm;
    padding-bottom: $padding-vertical-sm;
  }
}
// === / STATS ===

// === BLOG ===
.section-blog {
  background-color: #f5f8ff;
}
// === / BLOG ===

// === QUOTES ===
.section-quotes {
  background-color: #eaf0ff;
}
// === / QUOTES ===

// === FAQ ===
.section-faq {
}
// === / FAQ ===

// === GET-STARTED ===
.section-get-started {
  background-color: #6888ff;
}
// === / GET-STARTED ===

// === NEWSLATTER ===
.section-newsletter {
  background-color: #fcfdff;
}
// === / NEWSLATTER ===

// === FOOTER ===
.section-footer {
}
// === / FOOTER ===
